/* ------Defolt------ */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -----Header classes----- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  margin-right: 76px;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 24px 0;
  color: #434455;
  text-decoration: none;
}

.menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 24px 0;
  color: #434455;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.link:hover,
.link:focus {
  color: #404bbf;
  text-decoration: underline;
}

/* -----MAIN Styles---- */
/* -----Section 1----- */
.section-hero {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://s3-alpha-sig.figma.com/img/7c8d/46d4/7e83b6c8ee4603ea892aa8aaebb3c5fe?Expires=1699228800&Signature=IsnzFHv-TPKoQQ2xhLdde2Il1W2Iduu523DzS5H9~5H~3Ze14CD65mJDY51yh4ZiIED3~V1u2fUSY61S6y43WIrmmq32nAjfgrwsjlN1suwG40wW~uL~XFI63uVkdc2Rql5crbPEmMGOx5n6oB68LfQGk-ed34lcC595tEwiWAwkZU33Cw-BTG-mv5BdtF0viN1PQi0-xlOnseqgwwPjoPPylC-c5Q6Jb-401tUlBBHMka5na9aaPfBowaZ0sCsR1iar8U9Ck6H2q7pEFg6jwV9-kJCd-3htjmVzpu3tfm6onzLWnXevQbBwPRsLvWdmBZ3pW3G2Bbck2WSZM7eo2g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-repeat: no-repeat;
    background-size:cover;
}

.box-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.title {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.knob {
  /* button*/
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  color: #ffffff;
}

.knob:hover,
.knob:focus {
  background-color: #404bbf;
}

/* -----Section 2----- */
.section-info {
  padding: 120px 0;
}

.section-info-list {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.section-info-list-item {
  width: calc((100% - 72px) / 4);
}

.list-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}

.list-description {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* -----Section 3----- */
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-team-tittle {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.section-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding: 32px 0;
}

.section-team-list-tittle {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}

.section-team-list-description {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  margin-bottom: 8px;
}

.team-list-icons {
  display: flex;
  gap: 24px;

}

.list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: #f4f4fd;
}

/* -----Section-4----- */
.section-portfolio {
  padding: 120px 0;
}

.section-portfolio-tittle {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
}

.section-portfolio-item {
  width: calc(100%-48) / 3;
}

.section-portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio-list-tittle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}
/* -----Footer----- */
.page-bottom {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
}

.page-bottom-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  margin-right: 76px;
  color: #4d5ae5;
}

.page-bottom-span {
  color: #f4f4fd;
}

.page-bottom-description {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.45;
  color: #f4f4fd;
}

.page-bottom-social {
font-size: 16px;
font-weight: 500;
line-height: 1.17;
letter-spacing: 0.03em;
padding-bottom: 24px;
color: #ffffff;
}

.bottom-box {
  display: flex;
  gap: 100px;
}